/* Dividers */
.divider {
  width: 30px;
  border-bottom: 2px solid #c5c5c5;
  margin-bottom: 30px;
  margin-top: 30px;
  &.m-20 {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}

/* Jumbotrons */
.jumbotron {
  position: relative;
  &.jumbotron-homepage .container h1 {
    font-size: 150px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 14px;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    &.play-icon {
      width: 80px;
      margin-left: -40px;
    }
  }
  .jumbo-container {
    overflow: hidden;
    min-height: 550px;
    position: relative;
  }
  .jumbo-overlay {
    background-color: #0f2e43;
    width: 100%;
    height: 650px;
    opacity: 0.3;
    position: absolute;
    z-index: 1;
  }
  .container {
    z-index: 2;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    h1 {
      font-size: 80px;
      font-weight: 600;
    }
    p {
      font-size: 14px;
      font-weight: 400;
    }
    .btn {
      font-size: 12px;
      padding: 10px 26px;
      @include border-radius(0);
    }
    &.video-container {
      top: calc(50% - 80px);
    }
  }
}


.jumbotron.jumbotron-location {
  padding: 0;
  margin: 0;
  border-radius: 0;
  .container {
    height: 550px;
  }
  .jumbo-overlay {
    background-color: #000;
    opacity: 0.2;
  }
  .location-jumbo-title {
    position: absolute;
    bottom: 160px;
    h1 {
      font-size: 60px;
    }
    span {
      font-size: 21px;
    }
  }
  .location-jumbo-caption {
    position: absolute;
    bottom: 0;
    height: 110px;
    width: 100%;
    margin-left: -15px;
    background: rgba(236, 235, 235, 0.8);
    a {
      font-size: 26px;
      color: #505050;
    }
  }
}

.slider-nav {
  font-size: 16px;
  font-weight: 600;
  li {
    display: inline-block;
    &:hover, &.active {
      a {
        color: $brown;
      }
    }
    a {
      display: block;
      padding: 20px;
      color: $slider-nav;
    }
  }
}

@media (max-width: 992px) {
  .jumbotron {
    &.jumbotron-homepage .container h1 {
      font-size: 20vw;
    }
  }
}

/* Pagination */
.paginatio {
  hr {
    border-top: 1px solid $slider-nav;
    margin: -42px 0 0 0;
  }
  ul {
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    li {
      display: inline-block;
      margin: 20px -2px;
      padding: 0 22px;
      background-color: $light-f2-bg;
      &:first-child {
        margin-left: 0;
      }
      a {
        color: $slider-nav;
      }
      &.active {
        a {
          color: $pagination-blue;
        }
      }
    }
  }
  &.paginatio-white {
    ul {
      li {
        background-color: #fff;
      }
    }
  }
}

/* Social Share Buttons */

.social-share {
  display: inline-block;
  width: 36px;
  height: 35px;
  margin-right: 20px;
  &.social-fb {
    background: url("../images/social-share.png") 0 0;
  }
  &.social-tw {
    background: url("../images/social-share.png") -37px 0;
  }
  &.social-gp {
    background: url("../images/social-share.png") -76px 0;
  }
  &.social-li {
    background: url("../images/social-share.png") -152px 0;
  }
  &.social-em {
    background: url("../images/social-share.png") -114px 0;
  }
}

/* Locations */

.blue-link {
  color: $blue;
}

.location-blog {
  h3 a {
    font-size: 18px;
    font-weight: 600;
    color: $heading-color;
  }
  p {
    font-family: $font-stack;
    color: $lighter-text-color;
  }
  .checkbox {
    label {
      font-weight: bold;
    }
  }
}

.count-number {
  font-size: 14px;
  font-weight: bold;
  color: #d1d1d1;
  position: absolute;
  left: -10px;
  margin-top: -30px;
}

.modal-addition {
  max-height: 400px;
}

.loc-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url('../images/loc-details-spr-01.png');
}

.loc-heart {
  background-position: 0 0;
}

.loc-print {
  background-position: -35px 0;
}

.loc-share {
  background-position: -73px 0;
}

.loc-social-icon {
  display: inline-block;
  width: 30px;
  height: 24px;
  background: url('../images/loc-details-spr-02.png');
}

.loc-inst {
  background-position: 5px 0;
}

.loc-tw {
  background-position: -25px 0;
}

.loc-fb {
  background-position: -55px 0;
}

.loc-service-icon {
  display: inline-block;
  width: 35px;
  height: 32px;
  background: url('../images/loc-services-spr-01.png');
}

.icon-house {
  background-position: 0 0;
}

.icon-glass {
  background-position: -35px 0;
}

.icon-book {
  background-position: -70px 0;
}

.icon-glasses {
  background-position: -105px 0;
}

.icon-user {
  background-position: -140px 0;
}

.icon-star {
  background-position: -175px 0;
}

/* Homepage social section */
.social-row {
  height: 480px;
}

.tweet-post {
  height: 480px;
  padding: 50px;
  display: flex;
  align-items: center;
  word-break: break-word;
  overflow: hidden;
  a, a:hover, a:focus {
    color: $text-color;
  }
  a:hover {
    text-decoration: underline;
  }
}

.tweet-content {
  height: 480px;
  position: absolute;
  display: flex;
  align-items: center;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  padding: 50px;
  overflow: hidden;
  @include transition(all 0.4s);
  a, a:hover, a:focus {
    color: #fff;
  }
  &:hover {
    opacity: 1;
  }
}

.tweet-bg-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tweet-img {
  width: 120px;
  height: 120px
}

/* About us section */
.vertical-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  & > div {
    flex: 1;
    flex-basis: 0.000000001px;
  }
}

.aboutus-main-text {
  font-size: 56px;
}

.aboutus-with-img {
  padding-left: 50px;
}

/* Slide Container */

.slide-container {
  position: relative;
  .slide-body {
    display: flex;
  }
  .slide-content {
    flex: 1;
    margin: 0 10px;
  }
  .slide-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.65;
    transition: opacity 0.2s;
    margin: 0px 5px;
    &:hover {
      opacity: 1;
    }
    span {
      cursor: pointer;
      font-size: 40px;
      color: $article-color;
    }
  }
  .slide-pagination {
    margin-top: 10px;
    &::after {
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      bottom: 1em;
      left: 0;
      right: 0;
      background-color: $light-grey;
    }
  }
  .slide-pagination-item {
    display: inline-block;
    padding: 5px 12px;
    cursor: pointer;
    font-weight: bold;
    color: $slider-nav;
    background-color: #fff;
    position: relative;
    z-index: 1;
    &.active, &:hover {
      color: $blue;
    }
  }
}

@media (max-width: 992px) {
  .aboutus-main-text {
    font-size: 30px;
  }

  .slide-container {
    .slide-arrow {
      display: none !important;
    }
  }

  .vertical-centered {
    flex-direction: column;
  }

  .aboutus-with-img {
    padding-top: 20px;
    padding-left: 0;
  }
}
