.form-control {
  border-radius: 0;
}

.form-lg {
  height: 55px;
  padding: 0 10px;
}

.form-location-search {
  border: 2px solid $brown;
  &:focus {
    outline: none;
    box-shadow: 0 0 4px $brown;
  }
}
