.top-navigation {
  padding: 20px 40px;
  .logo {
    text-transform: uppercase;
    color: $header-color;
    font-size: 18px;
    background: url(../images/logo-brown.png) no-repeat;
    display: inline-block;
    padding-top: 30px;
    margin-left: 25px;
    line-height: 1;
    .logo-chabad {
      display: block;
      font-size: 35px;
      text-transform: none;
      margin-left: -35px;
      margin-top: -10px;
    }
    .logo-on-campus {
      display: block;
      text-align: right;
      font-size: 14px;
    }
  }
  .logo-orig {
    text-transform: uppercase;
    color: $header-color;
    font-size: 18px;
    background: url(../images/logo-brown.png) no-repeat;
    padding: 6px 0 6px 64px;
  }


  .nav {
    li {
      display: inline-block;
      a {
        color: $header-color;
        text-transform: uppercase;
        padding: 0 5px;
        margin-left: 40px;
        &:hover, &:focus {
          border-bottom: 2px solid $light-bg;
          background: none;
        }
      }
      &:first-child a {
        margin-left: 0;
      }
      &.active {
        a {
          border-bottom: 2px solid $light-bg;
        }
      }
    }
  }
  .navbar-toggle {
    background: $light-bg;
    .icon-bar {
      background: $header-color;
    }
  }
  &.nav-homepage {
    position: absolute;
    z-index: 10;
    width: 100%;
    .logo {
      background: url(../images/logo-white.png) no-repeat;
      color: #fff;
    }
    .praise-gd {
      color: #fff;
    }
    .logo-orig {
      background: url(../images/logo-white.png) no-repeat;
      color: #fff;
    }
    .nav {
      li {
        a {
          color: #fff;
          &:hover, &:focus {
            border-bottom: 2px solid #fff;
          }
        }
        &.active {
          a {
            border-bottom: 2px solid #fff;
          }
        }
      }
    }
  }

.praise-gd {
  position: absolute;
  top: 0;
  right: 0;
  color: #a58652;
  overflow: hidden;
  &:after {
    content: "ב''ה";
    display: block;
    width: 60px;
    height: 60px;
    font-size: 12px;
    line-height: 1;
/*  padding-top: 45px; */
    text-align: center;
/*  background-color: rgba(#696969, 0.8);
    transform: rotate(45deg) translate(0px, -48px); */
  }
}
}
