.header {
  padding: 20px 40px;
  position: relative;
  .header-logo {
    text-transform: uppercase;
    color: $header-color;
    font-size: 18px;
    font-weight: bold;
    background: url(../images/logo-brown.png) no-repeat;
    padding: 6px 0 6px 64px;
  }
  &.header-homepage {
    position: absolute;
    z-index: 10;
    width: 100%;
    .header-logo {
      background: url(../images/logo-white.png) no-repeat;
      color: #fff;
    }
    .praise-gd, .nav-toggle {
      color: #fff;
    }
    .nav-list {
      li {
        &.active, &:hover, &:focus {
          .nav-item {
            border-bottom: 2px solid #fff;
          }
        }
      }
      .nav-item {
        color: #fff;
      }
    }
  }
}

.nav-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  li {
    display: inline-block;
    &.active, &:hover, &:focus {
      .nav-item {
        border-bottom: 2px solid $light-bg;
      }
    }
  }
  .nav-item {
    color: $header-color;
    text-transform: uppercase;
    padding: 0 5px;
    margin-left: 4vw;
  }
}

.nav-toggle {
  display: none;
  font-size: 24px;
  color: $header-color;
  cursor: pointer;
}

.praise-gd {
  position: absolute;
  top: 5px;
  right: 5px;
  color: $header-color;
  line-height: 1;
}

.mobile-nav {
  display: none;
  background: #202020;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  overflow: hidden;
  z-index: -10;
  .nav-list {
    li + li {
      margin: 20px 0 0 15px;
    }
    .nav-item {
      font-size: 16px;
      color: $light-bg;
      text-transform: uppercase;
      padding: 0 5px;
      margin: 0
    }
  }
}

.mobile-nav-opened {
  .root-wrapper {
    transform: translate3d(-200px, 0, 0);
  }
}

@media (max-width: 992px) {
  .main-nav {
    display: none;
  }
  .nav-toggle, .mobile-nav {
    display: block;
  }
}
