.donate-popup {
  width: 300px;
  min-height: 100vh;
  margin: 0 auto;
  .modal-content {
    border: 0;
    background-color: #f5f5f5;
    overflow: hidden;
  }
  .text-input {
    border: 1px solid #a9a9a9;
    outline: 0;
    &:focus {
      box-shadow: 0 0 5px -1px $text-color;
    }
    &.error {
      box-shadow: 0 0 5px -1px #f00;
      border-color: #ff8d8d;
    }
  }
}

.donate-popup-head {
  padding: 15px 15px 5px;
  @include linearGradient(#f0f0f2, #e9e9ea);
}

.donate-popup-close {
  font-size: 20px;
  color: $light-grey;
  margin: -5px -5px 0 0;
}

.donate-amount {
  font-size: 40px;
  margin: -4px 0;
}

.donate-amount-big {
  font-size: 70px;
  margin: -10px 0;
}

.donate-divide {
  border-bottom: 1px solid #d3d3d4;
}

.donate-arrow-btn {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 16px;
  line-height: 30px;
}

.donate-popup-error {
  background-color: #f5f5f5;
  line-height: 1;
  width: 110%;
  max-width: 90vw;
  border-radius: 20px;
}

.donate-page-header {
  padding: 150px 0;
  overflow: hidden;
}

.donate-page-header-img {
  object-position: top center;
}

.donate-video-ovelay {
  background-color: rgba(15, 46, 67, 0.3);
}

.donate-form-container {
  z-index: 1;
}

.donate-form {
  width: 370px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 0 5px rgba(#fff, .3);
}

.donate-buttons {
  background-color: #2c3f50;
  border-radius: 8px;
  overflow: hidden;
}

.donate-button {
  cursor: pointer;
  &:hover {
    background-color: #38536a;
  }
  + .donate-button {
    border-left: 2px solid #fff;
  }
}

.donate-check-or-stock-btn {
  width: 370px;
  border-radius: 8px;
  background-color: rgba(#fff, .3);
}

.donate-head-title {
  font-size: 70px;
}

.donate-head-subtitle {
  font-size: 24px;
  margin-bottom: 80px;
}

@media (max-width: 1200px) {
  .donate-head-title {
    font-size: 6vw;
  }
}

@media (max-width: 992px) {
  .donate-head-subtitle {
    font-size: 16px;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .donate-head-title {
    font-size: 30px;
  }
  .donate-head-subtitle {
    font-size: 14px;
  }
}

.donate-currency-icon {
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 15px;

}

.twitter-typeahead {
  .tt-hint {
    display: none;
  }
  .tt-input {
    width: 100%;
    border: 2px solid $grey-e4-bg;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 1;
    padding-right: 20px;
    text-overflow: ellipsis;
    &:focus {
      outline: none;
    }
  }
  &::after {
    content: '▾';
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  .tt-menu {
    width: 100%;
    .tt-suggestion {
      color: #2d404f;
      padding: 5px 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .tt-suggestion + .tt-suggestion {
      border-top: 1px solid $grey-e4-bg;
    }
  }
}

.donate-amount-selector {
  .twitter-typeahead {
    .tt-input {
      color: $brown;
      padding: 5px 10px 5px 28px;
      font-size: 34px;
      font-weight: bold;
    }
  }
  .donations-currency {
    font-size: 14px;
    color: $light-grey;
  }
  .tt-menu .tt-suggestion {
    font-size: 24px;
    font-weight: bold;
    padding: 8px 20px;
  }
}
